[submodule "packages/supabase-js"]
	path = packages/supabase-js
	url = git@github.com:Flo-Leroux/supabase-js.git
[submodule "packages/postgres-meta"]
	path = packages/postgres-meta
	url = git@github.com:Flo-Leroux/postgres-meta.git
[submodule "packages/postgrest-js"]
	path = packages/postgrest-js
	url = git@github.com:Flo-Leroux/postgrest-js.git
